/*
 * Dandelion Admin v1.0 - Panel Stylesheet
 *
 * This file is part of Dandelion Admin, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started:
 * March 25, 2012
 *
 * ===============================================
 * Table of Contents
 * ===============================================
 *
 * 1. Panel Clearfix
 * 2. Panel
 * 3. Scrollable Panels
 * 4. Additional Panel Styles
 *
 */

/* (1) Panel Clearfix
================================================== */

div.da-panel:after, 
div.da-panel .da-panel-content:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

div.da-panel, 
div.da-panel .da-panel-content {
	display: inline-block;
}

* html div.da-panel, 
* html div.da-panel .da-panel-content {
	height: 1%;
}

div.da-panel, 
div.da-panel .da-panel-content {
	display: block;
}

/* (2) Panel
================================================== */

div.da-panel, 
div.da-panel-widget
{
	margin-bottom:20px;
	position:relative;
	
	/* CSS 3 */
	
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
}

div.da-panel .da-panel-header
{
	display:block !important;
	position:relative;
	border:1px solid #bfbfbf;
	background-image:url(../../images/panel-header.png);
	padding:0 16px;
	
	/* CSS 3 */
	
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

div.da-panel .da-panel-header .da-panel-title
{
	font-size:14px;
	display:block;
	line-height:20px;
	padding:16px 0;
	margin-right:32px;
}

div.da-panel .da-panel-header .da-panel-title img
{
	max-height:16px;
	max-width:16px;
	display:inline;
	margin-right:4px;
}

div.da-panel .da-panel-header .da-panel-toggler
{
	background:url(../../images/icons/black/16/bended_arrow_up.png) no-repeat center center;
	border-left:1px solid #c3c3c3;
	margin-top:-26px;
	height:16px;
	width:32px;
	padding:18px 0;
	padding-right:16px;
	display:block;
	position:absolute;
	right:0; top:50%;
	cursor:pointer;
}

div.da-panel.collapsed .da-panel-header .da-panel-toggler
{
	background-image:url(../../images/icons/black/16/bended_arrow_down.png);
}

div.da-panel.collapsed > *
{
	display:none;
}

div.da-panel .da-panel-content, 
div.da-panel-widget
{
	background-color:white;
	background-image:url(../../images/panel-content.png);
	background-repeat:repeat-x;
	background-position:left top;
	border:1px solid #bfbfbf;
}

div.da-panel .da-panel-content
{
	border-top:0;
}

/* (3) Scrollable Panels
================================================== */

div.da-panel.scrollable .da-panel-content .viewport
{
	overflow: hidden;
	position: relative;
}

div.da-panel.scrollable .da-panel-content .viewport .overview
{
	position: absolute;
	left: 0;
	top: 0;
}

div.da-panel.scrollable .da-panel-content .scrollbar
{
	width: 10px;
	height:16px;
	padding:3px 0;
	background-color: #ffffff;
	border-top:1px solid #d0d0d0;
}

div.da-panel.scrollable .da-panel-content .scrollbar .track
{
	height: 16px;
	width:10px;
	background:url(../../images/scrollbar-track-bg.png) repeat-x;
	position: relative;
}

div.da-panel.scrollable .da-panel-content .scrollbar .thumb
{
	height: 13px;
	width: 10px;
	margin-top:1px;
	border-top:1px solid #ffffff;
	cursor: pointer;
	overflow: hidden;
	top: 0;
	position: absolute;
	background:#f0f0f0 url(../../images/scrollbar-grip.png) center center no-repeat;
}

div.da-panel.scrollable .da-panel-content .scrollbar .thumb .end
{
	display:none;
}

div.da-panel.scrollable .da-panel-content .disable
{
	display: none;
}

/* (4) Additional Panel Styles
================================================== */

div.da-panel .da-panel-content.with-padding, 
div.da-panel-widget
{
	padding:1em 1.2em;
}
