/*
 * Dandelion Admin v1.0 - Plugin Stylesheet
 *
 * This file is part of Dandelion Admin, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started:
 * March 25, 2012
 *
 * ===============================================
 * Table of Contents
 * ===============================================
 *
 * 1. Full Calendar
 * 2. elFinder
 * 3. prettyPhoto
 *
 */

/* (1) Full Calendar
================================================== */

html .fc, .fc table
{
	margin-bottom:0;
}

.fc .fc-event-skin
{
	background-color:#505050;
	border-color:#000000;
}

.fc .fc-button-content
{	
	background:transparent url(../../images/button-gradient.png) repeat-x left bottom;
	
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.6);
	-o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.6);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.6);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.6);
}

.fc .fc-button-content:active
{
	background-image:none;
	
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fc .fc-widget-header
{
	background:url(../../images/default-header.png) repeat-x left bottom;
	
	-moz-box-shadow:inset 1px 0 0 0 #f8f8f8;
	-webkit-box-shadow:inset 1px 0 0 0 #f8f8f8;
	-khtml-box-shadow:inset 1px 0 0 0 #f8f8f8;
	box-shadow:inset 1px 0 0 0 #f8f8f8;
}

/* (2) elFinder
================================================== */

.da-panel-content .el-finder
{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:none;
}

/* (3) prettyPhoto
================================================== */

div.pp_default .pp_social
{
	display:none;
}
