# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir


# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/backend/runtime
/frontend/runtime
/statics/assets
/data/cache
/data/log
/data/runtime
/data/install.lock
/data/config/db.php

lulucms2.phpproj
lulucms2.phpproj.user
lulucms2.sln
lulucms2.v12.suo

yii
yii.bat
data/config/db.php