@import "global.css";

body {
  
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after  { content: /*"\e113"*/"\e151"; }
a.desc:after { content: /*"\e114"*/"\e152"; }

.sort-numerical a.asc:after { content: "\e153"; }
.sort-numerical a.desc:after { content: "\e154"; }

.sort-ordinal a.asc:after { content: "\e155"; }
.sort-ordinal a.desc:after { content: "\e156"; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 8px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}

.container{width:100%;padding:0px;margin:0px;}

.hline{}
.hline li{float:left;margin-left:10px;list-style-type:none;}

.table{border:1px solid #dedede;}
.table tr{height:22px;}
.table tr th{border-left:1px solid #dedede;}
.table tr td{border-left:1px solid #dedede;}




.leftMenu{width:160px;background: whiteSmoke;vertical-align: top;}

.breadcrumb{padding:0px;}

.hint-block{float:left;margin-top:5px;}
.has-error .help-block{float:left;}

.file-box{ position:relative;} 
.file{ position:absolute; top:0; left:504px; filter:alpha(opacity:0);opacity: 0;width:60px;height:34px;}

.nav-tabs{border-bottom:none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
border: 1px solid #dddddd;
}

.nav > li > a:hover, .nav > li > a:focus{background-color: #6F7782;}
