/*
 * Dandelion Admin v1.0 - Panel Toolbar Stylesheet
 *
 * This file is part of Dandelion Admin, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started:
 * March 25, 2012
 *
 * ===============================================
 * Table of Contents
 * ===============================================
 *
 * 1. Toolbar Clearfix
 * 2. Toolbar
 * 3. Toolbar Dropdown Menu
 *
 */

/* (1) Toolbar Clearfix
================================================== */

div.da-panel-toolbar ul:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

div.da-panel-toolbar ul {
	display: inline-block;
}

* html div.da-panel-toolbar ul {
	height: 1%;
}

div.da-panel-toolbar ul {
	display: block;
}

/* (1) Toolbar
================================================== */

div.da-panel-toolbar ul, 
div.da-panel-toolbar ul li
{
	margin:0;
	list-style:none;
}

div.da-panel-toolbar ul, 
div.da-panel-toolbar ul.top
{
	border:1px solid #bfbfbf;
	border-bottom-color:#cacaca;
	border-top:0;
	background:url(../../images/toolbar-bg.png) repeat-x left bottom;
}

div.da-panel-toolbar ul.bottom
{
	border-bottom-color:#bfbfbf;
}

div.da-panel-toolbar ul li
{
	display:block;
	float:left;
	position:relative;
}

div.da-panel-toolbar ul li a, 
div.da-panel-toolbar ul li span
{
	display:block;
	padding:6px 10px;
	text-decoration:none;
	color:#444444;
	border-right:1px solid #d6d6d6;
	
	/* CSS 3 */
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 1), inset 1px 0 0 rgba(255, 255, 255, 1);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 1), inset 1px 0 0 rgba(255, 255, 255, 1);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 1), inset 1px 0 0 rgba(255, 255, 255, 1);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 1), inset 1px 0 0 rgba(255, 255, 255, 1);
}


div.da-panel-toolbar > ul > li > a:active, 
div.da-panel-toolbar > ul > li > span:active
{
	background-color:#f0f0f0;
	
	/* CSS 3 */
	
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

div.da-panel-toolbar ul li a img, 
div.da-panel-toolbar ul li span img
{
	max-height:16px;
	max-width:16px;
	margin-right:8px;
}

/* (3) Toolbar Dropdown Menu
================================================== */

div.da-panel-toolbar ul li ul
{
	position:absolute;
	top:100%;
	left:-1px;
	margin:0;
	z-index:300;
	border:none;
	background:none;
	display:none;
}

div.da-panel-toolbar.bottom ul li ul
{
	bottom:100%;
	top:auto;
}

div.da-panel-toolbar ul li ul li
{
	display:block;
	float:none;
	min-width:120px;
	background:#fafafa;
	border:1px solid #cacaca;
	border-top-color:#fafafa;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

div.da-panel-toolbar ul li ul li a, 
div.da-panel-toolbar ul li ul li span
{
	border-right:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;
}

div.da-panel-toolbar ul li ul li:hover
{
	background:#a9ca60;
	border:1px solid #779625 !important;
}

div.da-panel-toolbar ul li ul li:hover > a, 
div.da-panel-toolbar ul li ul li:hover > span
{
	color:#ffffff;
}

div.da-panel-toolbar ul li ul li:first-child
{
	border-top:1px solid #cacaca;
}

div.da-panel-toolbar ul li:hover > ul
{
	display:block;
}

div.da-panel-toolbar ul li ul li ul
{
	left:100%; top:0;
	margin-top:-1px;
}

div.da-panel-toolbar.bottom ul li ul li ul
{
	bottom:0;
	top:auto;
	margin-top:0;
	margin-bottom:-1px;
}

div.da-panel-toolbar.bottom ul li ul li:hover ul li:first-child
{
	border-left:1px solid #cacaca;
}
